.wrapper {
  background-color: #f4f6f9;
}

[class*=sidebar-dark] {
  background-color: #00794a;
}

[class*=sidebar-dark] .brand-link {
  border-bottom: 1px solid #FFFFFF;
}

[class*=sidebar-dark] .brand-text {
  font-size: 1.15rem;
}

[class*=sidebar-dark] .brand-link .brand-image {
  float: left;
  line-height: .8;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-top: 0px;
  max-height: 30px;
  width: auto;
}

.subsection-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

.amcharts-visualization {
  width: 100%;
  height: 640px;
}

.amcharts-small {
  height: 300px;
}

.loading {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 121, 74, 1);
}

.loading > .loading-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Extra small devices */
.loading > .loading-body > .loading-logo { max-width: 150px; }
.loading > .loading-body > .loading-animation { max-width: 75px; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .loading > .loading-body > .loading-logo { max-width: 200px; }
  .loading > .loading-body > .loading-animation { max-width: 100px; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .loading > .loading-body > .loading-logo { max-width: 300px; }
  .loading > .loading-body > .loading-animation { max-width: 150px; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .loading > .loading-body > .loading-logo { max-width: 300px; }
  .loading > .loading-body > .loading-animation { max-width: 150px; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .loading > .loading-body > .loading-logo { max-width: 300px; }
  .loading > .loading-body > .loading-animation { max-width: 150px; }
}